html,
body {
  padding: 0;
  margin: 0;
  /* font-family: Noto Sans JP,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* swiperの矢印を白にする */
/* .swiper-button-prev,
.swiper-button-next {
  color:white!important;
} */

/* splideのスタイル */

.splide {
  padding:5px!important;
}

/* splideのpaginationのスタイル */

.splide__pagination {
  bottom:3rem!important;
}
